<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css">
.ng-scope {
	border: 1px solid red;
	padding: 10px;
	margin: 5px;
}
</style>
</head>
<body>



	<div class="container">

		<div class="page-header">NG - databinding</div>

		<div ng-app="demoApp">


			<div ng-controller="HelloController">
			
				Name : <input id="nameField" ng-model="name"> 
				<button id="resetBtn" class="btn btn-primary" ng-click="reset()">Reset</button>
				<button id="fullNameBtn" class="btn btn-primary" ng-click="getFullName()">FullName ( ng-click )</button>
				<button id="fullNameBtn2" class="btn btn-primary" onclick="window.getFullName()">FullName ( on-click )</button>
				<hr />
				Hello <span id="nameSpan">{{name}}</span>
			
			</div>


		</div>

	</div>


	<script type="text/javascript" src="angular-1.4.8 2/angular.js"></script>

	<script type="text/javascript">
		
		
		/* 
		
		var name='';
		
		var nameField=document.querySelector("#nameField");
		var nameSpan=document.querySelector("#nameSpan");
		var resetBtn=document.querySelector("#resetBtn");
		var fullNameBtn=document.querySelector("#fullNameBtn");
		
		nameField.addEventListener('keyup', function(e) {
			name=this.value;
			nameSpan.innerHTML=name.toUpperCase();
		});
		resetBtn.addEventListener('click', function(e) {
			name="";
			nameField.value=name;
			nameSpan.innerHTML=name;
		});
		fullNameBtn.addEventListener('click', function(e) {
			name="Nagabhushanam";
			nameField.value=name;
			nameSpan.innerHTML=name;
		}); 
		
		*/
		
		
		var appModule = angular.module('demoApp', []);
		
		appModule.controller('HelloController', function($scope) {
			
			$scope.name='';
			
			$scope.reset=function(){
				$scope.name='';
			};
			
			$scope.getFullName=function(){
				$scope.name='Nagabhushanam';
			};
			
			window.getFullName=function(){
				console.log('getting fullName on window.onclick');
				
				$scope.$apply(function(){
					$scope.name="Nagabhushanam N";
				});
				
			};
			
			$scope.$watch('name',function(newVal,oldVal){
				console.log('digest loop running....watch exp executing');
				console.log(newVal);
				console.log(oldVal);
			});
			
			
			
			
		});
		
		
		
	</script>

</body>
</html>